
#loading-screen {
    font-size: 50px;             
    color: #444;                
    display: flex;              
    justify-content: center;
    align-items: center;
    height: 50vh;              
    background-color: rgba(0, 0, 0, 0.1); 
}

@keyframes rotate-hourglass {
    0% {
        transform: rotate(0deg);   
    }
    100% {
        transform: rotate(-360deg); /* Full anti-clockwise rotation */
    }
}


#loading-screen {
    animation: rotate-hourglass 60s linear infinite; /* 2 seconds per rotation */
}