.Dodgy-link {
    display: block;
    color: rgb(4, 109, 151);
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.Hidden{
    display: none;
}

#warning-message {
    max-width: 1000px;
    margin: 0 auto;
    color: yellow;
    background-color: rgb(20, 17, 17);
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
}