* {
    background-color:  rgb(20, 17, 17);
    font-family: Arial, Helvetica, sans-serif   !important;
}
header {
    display: flex;
    justify-content: space-between; /* here im ensurring that  logo is on the left, nav on the right */
    align-items: center; 
    padding: 10px;
    width: 100%; 
    position: fixed; /* Fixed position to stay at the top as Imaan suggested I make the nav bar stick to the top */
    top: 0; 
    left: 0; 
    z-index: 1000;
    background-color: rgb(20, 17, 17); 
    /* Subtle drop shadow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}
h1 {
    margin-top: 130px;
}
.Welcome {
    color: ivory;
    justify-content: center;
    display: flex;
    padding: 80px;
}
nav {
    display: flex;
    justify-content: flex-end;
}
td {
    width: 110px;
}
a {
   text-decoration: none; 
   white-space: nowrap; 
   display: inline-block;
   gap: 50px;
}
.External {
    background-color: #333;
}

.Link {
    margin-top: 150px;
    max-width: 1000px;
    width: 300px;
    height: 370px;
    background-color: #333; /* Charcoal grey */
    color: ivory;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; 
}
.Link:hover {
    transform: scale(1.04);
}
.Linking {
    margin-top: 130px;
    max-width: 1000px;
    width: 300px;
    height: 370px;
    background-color: #333; /* Charcoal grey */
    color: ivory;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; 
}
.Linking:hover {
    transform: scale(1.03);
}
a:hover 
{
   text-decoration: none; 
}
body {
    margin: 0;
    padding: 0;
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
}
.Terminal {
    padding: 20px;
    height: 100vh;
    width: 100%;
    background: rgba(20, 17, 17); /* Slight transparency */
    color: limegreen;
    font-size: 1.2em;
    line-height: 1.5em;
    white-space: pre-wrap; /* Makes text auto-wrap on new lines */
    max-width: 1000px; 
    margin: 0 auto;
}
.Terminal span {
    display: block; /* Each message appears on a new line */
}
.Terminal::after {
    content: '_';
    display: inline-block;
    animation: blink 1s steps(1) infinite;
    max-width: 1000px; 
    margin: 0 auto;
}
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
}
  /* Container styling */
  .infoContainer {
    width: 400px;
    height: 440px;
    background-color: #333; /* Charcoal grey */
    color: ivory;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; 
  }
  .infoContainer:hover {
    transform: scale(1.03);
  }
  /* Flex container inside the section html element*/
  section {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
    border-radius: 100px; 
    justify-content: center; 
    padding: 0 10px; 
    margin: 0 auto;
  }

  /*  ReadMoreButton styling */
  .readMore {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #2503FD;
    color: ivory;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .readMore:hover {
    background-color: #035603;
  }
  .Wireframes {
    width: 100px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2503FD;
    color: ivory;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .Wireframes:hover {
   background-color: #035603;
  }
  .Theory {
    width: 100px;
    padding: 10px 20px;
    background-color: #2503FD;
    color: ivory;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .Theory:hover{
    background-color: #035603;
  }
  .Styles {
    width: 100px;
    padding: 10px 20px;
    background-color: #2503FD;
    color: ivory;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .Styles:hover {
    background-color: #035603;
  }
  .Essays {
    width: 150px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #2503FD;
    color: ivory;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .Essays:hover {
    background-color: #035603;
  }
  .Scroll {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    background-color: rgb(20, 17, 17); ;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .Scroll:hover{
    background-color: #035603;
  }
  .ScrollIcon {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
.Images {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px;
    border-radius: 100px; 
    justify-content: center; 
    padding: 0 10px; 
    margin-top: 20px;
    margin: 0 auto;
}
.Images1 {
    display: flex;
    gap: 20px;
    border-radius: 100px;
    justify-content: center;
    padding: 0 10px;
    margin-top:  20px;
    max-width: 1000px; 
    margin: 0 auto;
}
.Titles {
    background-color: #333; /* Charcoal grey */
    color: ivory;
    max-width: 1000px; 
    margin: 0 auto;
    padding: 0 10px;
}
figure {
    margin: 0; 
}
figcaption{
    color: #A0A0A0;
  }
.Section {
    color: ivory;
    max-width: 1000px; 
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 50px;
    margin-bottom: 30px; 
    line-height: 1.8;
} 
.Section1 {
    color: ivory;
    max-width: 1000px; 
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 30px;
    margin-bottom: 10px; 
}
.Description {
    background-color: #333;
    color: ivory;
    max-width: 1000px; 
    margin: 0 auto;
    padding: 0 5px;
    margin-top: 4px;
    margin-bottom: 4px; 
    line-height: 1.3;
}
#phishing {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}
#ransomware {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}
a {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 10px; 
    color: #00FFFF;
}
a:hover{
    color: limegreen;
}
.Btn {
    background-color: green;
    border: none; 
    border-radius: 12px; /* Adding  rounded edges to maked it look more appealing to the eye */
    padding: 15px 25px; 
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
.Btns  {
    background-color: white;
    border-radius: 12px;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
}
.Btns:hover {
    background-color: forestgreen;
}

.Btn a {
    color: #00FFFF; 
    text-decoration: none; 
}

.Btn:hover {
    background-color: green; 
}

.Btn a:hover {
    color: limegreen;
}

#logo {
    display: flex;
    align-items: center;
}
.Heading {
    color: ivory;
    max-width: 1000px; 
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 110px; 

}

.Strong {
    color: rgb(54, 69, 79);
}
.Index {
    color: lime;
    position: relative;
    text-anchor: end;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 8%;
    text-align: center;
    background-color:  rgb(20, 17, 17); /* Dark background for contrast */
    padding: 10px 0; 
    z-index: 1000;
    margin-top: 290px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}
.Index1 {
    color: lime;
    position: relative;
    text-anchor: end;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 8%;
    text-align: center;
    background-color:  rgb(20, 17, 17); /* Dark background for contrast */
    padding: 10px 0; 
    z-index: 1000;
    margin-top: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);  
}
/* styles for the menu and hamburger icon */
.Hamburger {
    display: none; 
    font-size: 30px;
    cursor: pointer;
    color: ivory;
}

/* Default nav styles */
nav {
    display: flex;
    justify-content: flex-end;
    background-color: black;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .Hamburger {
        display: block; /* Show hamburger on mobile */
        position: relative;
        top: 10px;
        right: 40px;
    }

    nav {
        display: none; /* Hide navigation on mobile by default */
        position: absolute;
        top: 100px;
        right: 0;
        width: 100%;
        background-color: black;
    }

    nav.open {
        display: block; /* Show the nav when toggled, stacked vertically */
    }
    table{
        width: 100%;
        display: block;
        text-align: center;
    }
    tr {
        display: block;
        text-align: center;
    }

    td {
        padding: 20px;
        display: flex;
        width: 100%;
        text-align: center;
    }

    a {
        color: ivory;
        text-decoration: none;
        display: block; 
    }

    a:hover {
        color: limegreen;
    }
}