header {
    display: flex;
    justify-content: flex-end;
    padding: 15px; 
}

nav {
    display: flex; 
    justify-content: flex-end;
}

* {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

.description {
    color: white;
}

.Description-text {
    color: white;
}

.index {
    color: green;
}