header {
    display: flex;
    justify-content: space-between; /* here im ensurring that  logo is on the left, nav on the right */
    align-items: center; 
    padding: 10px;
}

#Logo {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

* {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

.description {
    color: white;
}

.Description-text {
    color: white;
}

.index {
    color: green;
}

